.Primary {
    font-family: 'Helvetica';
    font-size: 16px;
    color: #4A4A4A;
}
.Secondary {
    font-family: 'Helvetica';
    font-size: 14px;
    color: #4A4A4A;
}
.TableContainer {
    width: fit-content;
    margin: auto;
    header {
        display: flex;
        justify-content: flex-start;
    }
    table {
        min-width: 990px;
        height: 426px;
    }
    .SubmitContainer {
        display: flex;
        justify-content: flex-end;
        button {
            width: 120px;
            height: 32px;
            background-color: #8E0000;
            color: #FFFFFF;
            border: none;
            border-radius: 25px;
        }
    }
}